{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{%- block sonata_page_html_tag -%}
<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
{% endblock %}

{% block sonata_page_head %}
    <head {{ sonata_seo_head_attributes() }}>
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
     
        {% block sonata_page_stylesheets_my %}
            {% block stylesheets %}
                {# 'app' must match the first argument to addEntry() in webpack.config.js #}
                {{ encore_entry_link_tags('app') }}
                
            {% endblock %}
        {% endblock %}
    </head>
{% endblock %}

{% block sonata_page_body_tag %}
    <body class="sonata-bc body-primary">
{% endblock %}

    {% block sonata_page_container %}
        {% block page_container %}{% endblock %} {# Deprecated block #}
    {% endblock %}

    {% block sonata_page_asset_footer_my %}
    
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('appAngular') }}
        {% endblock %}
        
    {% endblock %}
        
        <!-- monitoring:3e9fda56df2cdd3b039f189693ab7844fbb2d4f6 -->
</body>
</html>
