{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% extends '@SonataPage/base_layout.html.twig' %}

{% block sonata_page_container %}
    
    <header class="container-fluid page-header header-default p-0">
            {{ sonata_page_render_container('header', page) }}
            {{ sonata_block_render({ 'type': 'header.default.block' }, {
                'title' : 'Users'
                }) 
            }}   
    </header>

    {% if page is defined %}
        <div class="row">
            {% if page.name != 'global'%}
                {{ sonata_page_render_container('content_top', 'global') }}
            {% endif %}
            {{ sonata_page_render_container('content_top', page) }}
        </div>
    {% endif %}

    <div class="container-fluid">
        {{ sonata_page_render_container('content', page) }}
        
        {% block page_content %}
            {% if content is defined %}
                {{ content|raw }}
            {% endif %}
        {% endblock %}
    </div>

    {% if page is defined %}
        <div class="row">
            {{ sonata_page_render_container('content_bottom', page) }}
            {% if page.name != 'global'%}
                {{ sonata_page_render_container('content_bottom', 'global') }}
            {% endif %}
        </div>
    {% endif %}

    <footer class="row">
        {{ sonata_page_render_container('footer', page) }}
    </footer>
    
{% endblock %}
