

<div class="row">
    <div class="col-md-5 col-sm-10 m-auto">
        <div class="login-box">
        <div class="row">
            <div class="col-sm-12">
                <nav class="navigation-login">
                    <ul class="ul-log-reg">
                        <li>
                            <a href="{{path('fos_user_security_login')}}" >Zaloguj się</a>
                        </li> 
                        <li class="active">
                            <a href="{{path('fos_user_registration_register')}}" >
                                 <i class="fa fa-user-plus logowanie-icon icon" aria-hidden="true"></i> 
                                 Rejestracja
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                
                {{ form_start(form, {'method': 'POST', 'attr': {'class': 'default-form'} }) }}
                    <fieldset>
                        <legend>Załóż konto</legend>
                        
                        <div class="box-input {%if form.username.vars.errors|length %} focused-error {% endif%}">
                             <label for="{{ form.username.vars.id }}" class="{{ form.username.vars.required ? 'required' }}">
                                   Nazwa użytkownika:
                            </label>
                            {{ form_widget(form.username, {'attr': {'placeholder': 'Nazwa użytkownika'}}) }}
                            <div class="form-error">
                                {{ form_errors(form.username) }}
                            </div>
                        </div>
                        
                        <div class="box-input {%if form.email.vars.errors|length %} focused-error {% endif%}">
                            <label for="{{ form.email.vars.id }}" class="{{ form.email.vars.required ? 'required' }}">
                                   Adres e-mail:
                            </label>
                            {{ form_widget(form.email, {'attr': {'placeholder': 'Adres e-mail'}}) }}
                            <div class="form-error">
                                {{ form_errors(form.email) }}
                            </div>
                        </div>
                        <div class="box-input {%if form.plainPassword.first.vars.errors|length %} focused-error {% endif%}">
                            <label for="{{ form.plainPassword.first.vars.id }}" class="{{ form.plainPassword.first.vars.required ? 'required' }}">
                                Hasło:
                            </label>
                            {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Hasło'}}) }}
                            <div class="form-error">
                                {{ form_errors(form.plainPassword.first) }}
                            </div>
                        </div>
                            
                        <div class="box-input {%if form.plainPassword.first.vars.errors|length %} focused-error {% endif%}">
                            <label for="{{ form.plainPassword.second.vars.id }}" class="{{ form.plainPassword.second.vars.required ? 'required' }}">
                                Powtórz hasło:
                            </label>
                            {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Powtórz hasło'}}) }}
                        </div>
                        {{ form_row(form._token) }}
                    </fieldset>
                    
                    <div class="submit-contanier">
                        <div class="submit-block">
                            <button type="submit"  class="btn-red" value="{{ 'registration.submit'|trans }}">
                                <i class="fas fa-user-plus"></i>
                                    Zarejestruj się
                            </button>     
                        </div>
                    </div>
                    
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    </div>
</div>                                              